{
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]", "@chakra-ui", "react*", "@/"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}